In [1]:
import os
import subprocess
import logging
from tqdm import tqdm
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
# Load data.
train = pd.read_csv('train.csv', encoding = 'utf8')
test = pd.read_csv('test.csv', encoding = 'utf8')
print(
    'train data shape: {}\n\
    train data description:\n{}\n\
    test data shape: {}\n\
    test data description:\n{}'.format(
        train.shape, train.describe(),
        test.shape, test.describe()
    )
)
print(train.head())

train data shape: (7613, 5)
    train data description:
                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000
    test data shape: (3263, 4)
    test data description:
                 id
count   3263.000000
mean    5427.152927
std     3146.427221
min        0.000000
25%     2683.000000
50%     5500.000000
75%     8176.000000
max    10875.000000
   id keyword location                                               text  \
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

   target
0       1
1       1
2       1
3       1
4       1

In [4]:
len(set(train.keyword.values))

222

In [5]:
sum(-pd.isnull(train.keyword))

7552

In [6]:
len(set(train.location.values))

3342

In [7]:
sum(-pd.isnull(train.location))

5080

In [8]:
set(train.location.values)

{nan,
 'One World',
 'The barn',
 'infj ',
 'Texas, USA',
 'Harlem, New York',
 'Portoviejo-Manabi-Ecuador',
 'Long Island NY & San Francisco',
 'Trinidad and Tobago',
 'New Jersey ',
 'PG County, MD',
 'Ikeja, Nigeria',
 'PA.USA',
 'Hampshire UK',
 ' New England',
 'on twitter ',
 'Calgary, AB, Canada',
 'toronto, ontario',
 ' Queensland, Australia',
 'Yuba City, CA',
 'North East USA',
 'Kawartha Lakes, Ontario, Canad',
 'Warsaw',
 'Port Charlotte, FL',
 'UK',
 'My old New England home',
 'MA via PA',
 'Indonesia',
 'San Diego, California',
 'California, USA',
 'Petaluma, CA',
 'ÌÏT: 19.123127,72.825133',
 'Pacific Northwest',
 'Wellington',
 'brisbane, australia',
 'Scotland, United Kingdom',
 'Eureka, California, USA',
 'Kaneohe',
 'Dreieich, Germany',
 'North Dartmouth, Massachusetts',
 'Calgary, Alberta, Canada',
 'In Your Notifications ',
 'Born in Baltimore Living in PA',
 'somewhere over a rainbow',
 'University of Chicago',
 'Upstate New York',
 'Menlo Park. SFO. The World.',
 'Quezon City, Philippines',
 'calgary,ab',
 'Hawaii USA',
 'Your notifications',
 'My subconscious',
 'Whippany, NJ',
 'Spain - China - Latin America.',
 'Ab, Canada',
 'tokyo',
 'LONG ISLAND, NY',
 'WORLD',
 'Jammu and Kashmir',
 'on twitter',
 'The Memesphere',
 'NJ/NYC',
 'Absecon, NJ',
 'LA ??',
 'right next to you',
 'Inside the Beltway (DC Area)',
 'US, PA',
 'In the spirit world',
 'big boy \x89Û¢ 0802',
 'Meereen ',
 'Savannah, GA',
 'NYC metro',
 'Jerusalem',
 'Central Coast, California',
 'In Space',
 'Warrandyte, Australia',
 'Florida',
 'Chicago, IL 60607',
 '11202',
 'Bhubneshwar',
 'a feminist, modernist hag.',
 'UK Great Britain ',
 'Somewhere Out There',
 'Birmingham, United Kingdom',
 'The land of New Jersey. ',
 'Virginia, United States',
 'Queens, NY',
 'London, Greater London, UK',
 'The shores of Lake Kilby',
 'Aperture Science Test Facility',
 'Duval, WV 25573, USA ?',
 'Epic City, BB.',
 'Pompano Beach, FL',
 'New York Brooklyn',
 'Ottawa, Canada',
 'Indiana',
 'Pawnee',
 'JDB/LJC/AGB/TW/PLL',
 'CamaquÌ£/Pelotas',
 'The D',
 'I Heard #2MBikers',
 'Thrissur',
 'Suplex City',
 "'Merica",
 'Newcastle, England',
 'The Windy City',
 'Paris, France',
 'New York, NY',
 'Playa',
 'Morganville, Texas.',
 'Zeerust, South Africa',
 'Austin, TX',
 'Houston, TX',
 '518',
 'Fort Valley,GA/Fayetteville,AR',
 'Gurgaon, Haryana. ',
 'New Mexico, USA',
 'PSN: Pipbois ',
 'Neverland',
 'Fresno, CA',
 'Nigeria, Global',
 'Auckland, New Zealand',
 'St. Louis, Mo',
 'dallas',
 'Some Where in this World',
 'Palma, Islas Baleares',
 '\x89Û¢OlderCandyBloom\x89Û¢',
 'Brisbane Australia',
 'Chasing My Dreams w/Jass??',
 'sydney, australia',
 'Greenville,SC',
 'Athens - Nicosia',
 'Bangalore, INDIA',
 'Campinas Sp',
 'St Austell, Cornwall',
 'WORLDWIDE!',
 'Perth, Western Australia',
 'Inverness, Nova Scotia',
 'Rafael castillo',
 'Im In Route ',
 'SoCal',
 'Worcester, MA',
 'Bloomington, Indiana',
 'africa',
 'Everett, WA',
 'Littleton, CO, USA',
 'Pueblo, CO',
 'CA',
 '17-Feb',
 'Wilmington, NC',
 'Earth',
 '876 Jamrock.',
 'Houston TX',
 'he/him or she/her (ask)',
 'Port Williams NS',
 'Chevy Chase, MD',
 'Cydia',
 'MÌ©xico D.F.',
 'Orlando, Fl',
 'Gotham City',
 'Hensley Street, Portland',
 'Sydney, New South Wales',
 'KLA,Uganda',
 'Walthamstow, London',
 'Telangana',
 'Chicago, Il',
 'Rapid City, Black Hills, SD',
 'Peterborough, Ont.',
 'Boston, Massachusetts',
 'MUM-DEL',
 'ona block w/ my BOY ??',
 'Canberra, Australian Capital Territory',
 'Roaming around the world',
 'Henderson, Nevada',
 'The Desert',
 'Franklin, TN near Nashville',
 'The Jewfnited State',
 '#PhanTrash',
 'Nottingham, England',
 '48.870833,2.399227',
 'seattle wa',
 'In Hell',
 'Dutch/English/German',
 'OK',
 'Washington, DC 20009',
 'Asia European Continent Korea ',
 'los angeles, ca',
 'Alvin, TX',
 'Brazos Valley, Texas',
 'Belfast',
 'sneaking glances at Thancred',
 'livin in a plastic world',
 'Nunya',
 'Lucknow, India',
 'Kingston, Jamaica',
 'ÌÏT: 43.631838,-79.55807',
 'a van down by the river',
 'EastCarolina',
 'New York - Connecticut',
 'Hermosa Beach, CA',
 'atlanta',
 'Noida, NCR, India',
 'Geneva. And beyond. ',
 'QUEENS.',
 '5-Feb',
 'South Stand',
 'Spring Tx',
 'wny',
 '??t?a',
 'Dubai',
 'Your Conversation',
 'sweden',
 'Here there and everywhere',
 '#MadeInNorthumberland',
 'South Carolina',
 'Wisconsin, USA',
 'timeline kamu',
 'Brasil, Fortaleza ce',
 'philly ',
 'ARIZONA',
 'The Circle of Life',
 'Fairfax, VA',
 'England ',
 'Chappaqua NY and Redlands CA',
 'moss chamber b',
 'Lansdale,Pennsylvania',
 'uk',
 'with Doflamingo',
 'Hickville, USA',
 'Mumbai, Maharashtra',
 'right here',
 'Bishops Stortford, England',
 'Hogsmeade',
 'Stalybridge, Tameside',
 'taken by piper curda',
 'San Luis Obispo, CA',
 'taking pain like pleasure',
 'Corpus - Las Vegas - Houston',
 'Austin',
 'Pratt-on-Wye',
 'Aurora, Ontario ',
 'houston',
 'London, UK',
 'Jakarta',
 'Ktx',
 'rzl ?',
 'Where the money at',
 'Also follow ?',
 'Manchester, UK',
 'South africa',
 "in Dimitri's arms",
 'Derbyshire, United Kingdom',
 'ÌÏT: 1.50225,103.742992',
 'Amman,Jordan',
 'Madisonville TN',
 '\x89Û¢III.XII.MMXI\x89Û¢',
 ' Alex/Mika/Leo|18|he/she/they',
 'Kettering, OH',
 'Dudetown',
 'potters bar',
 'Wolmers Trust School for Boys ',
 'fl',
 'lakewood colorado',
 'new york, ny',
 'Anderson, SC',
 'West Bank, Gaza Strip',
 'Asia Pacific   ',
 '????????????',
 'Melbourne, Australia',
 'Nowhere Islands/Smash Manor',
 'Mumbai',
 'Providence RI / Lisnaskea ',
 'Northern California U.S.A.',
 'Aveiro, Portugal',
 'Valle Del Sol',
 'Loading...',
 'Saint Paul',
 'Chiswick, London',
 'Mass',
 'Traverse City, MI',
 'Johannesburg, South Africa ',
 'FIMAK A.S Ist Bolge Muduru',
 'Palestine ',
 'Depok',
 'Tampa-St. Petersburg, FL',
 'El Dorado, Arkansas',
 'Ottawa, Ontario',
 'In the Shadows...',
 'nigeria',
 'Regalo Island',
 'Delhi ',
 'Lakewood, Tennessee',
 'cognitive dissonance town',
 'Birmingham',
 'Calgary',
 'Phoenix, AZ',
 'Ely, Cambridgeshire',
 'en el pais de los arrechos',
 'Victoria, British Columbia',
 'Orange County, California',
 'NYC :) Ex- #Islamophobe',
 'Making Worldwide Change Near U',
 '??',
 'http://www.amazon.com/dp/B00HR',
 'El Dorado, KS',
 'West Wales',
 'Bahrain',
 'Colorado Springs',
 'Chile',
 'Bristol',
 'iamdigitalent.com',
 'Lynnfield, MA',
 'Greenwich Meridian',
 'Evanston, IL',
 'golborne, north west england.',
 'in my own personal hell (:',
 'dorito land',
 'y/e/l',
 '140920-21 & 150718-19 BEIJING',
 'santo domingo',
 'Ellensburg to Spokane',
 'ÌÏT: 33.209923,-87.545328',
 'Afghanistan',
 'Based out of Portland, Oregon',
 'Orlando',
 'nor*cal',
 'southwest, Tx',
 'From NY. In Scranton, PA',
 'Stowmarket',
 'North Carolina ',
 'Cypress, CA 90630',
 'TÌÁchira - Venezuela',
 'Tokyo & Osaka',
 'Sligo and Galway, Ireland',
 'San Antonio, TX',
 'BOT ACCOUNT',
 '709?',
 'Nagpur',
 'Lagos Nigeria',
 'Antioch, CA ',
 'Mount Vernon, NY',
 'Nashville',
 'Rochester',
 'Jonesboro, AR MO, IOWA USA',
 'ÌÏT: 10.614817868480726,12.195582811791382',
 'Miami Beach, Fl',
 'Antarctica',
 ' The World',
 'yorkshire\n',
 '3???2???????',
 'The TARDIS',
 'San Francisco , CA',
 'Bathtub de Bett ',
 'Displaced Son of TEXAS!',
 'Bandar Lampung, Indonesia',
 'Photo : Blue Mountains ',
 'London/Lagos/FL ÌÏT: 6.6200132,',
 'NAIROBI  KENYA ',
 '18 \x89Û¢ CC',
 'Silang, Cavite / ParaÌ±aque',
 '#otrakansascity',
 'Lynwood, CA',
 'The Wood',
 'LIVERPOOL',
 'Hartford,  connecticut',
 'L. A.',
 'Bangalore',
 'watford',
 'statesboro/vidalia',
 'Ontario Canada',
 'Paris (France)',
 'Berlin, Germany',
 'Christiana,Tennessee',
 'swindon',
 'Location',
 'Santiago de Cmpostela Galicia',
 'Sand springs oklahoma',
 'Dimapur',
 'Wild Wild Web',
 'Groton, CT',
 'West Chester, PA',
 'Bay Area',
 'Sunny South florida ',
 'Wanderlust',
 'Galveston, Texas',
 'Kleenex factory',
 'Silicon Valley',
 'Olathe, KS',
 '19.600858, -99.047821',
 'West Midlands',
 'San Diego CA',
 'VCU',
 'Bridport, England',
 '9/1/13',
 'Oslo, Norway',
 'EIC',
 'everydaynigerian@gmail.com',
 'San Diego, Calif.',
 'W.I.T.S Academy',
 ' Jariana Town',
 'West Lancashire, UK.',
 'LITTLETON, CO, USA, TERRAN',
 'Fort Myers, Florida',
 'Yobe State',
 'Erbil',
 'Copenhagen, Capital Region of Denmark',
 'Somewhere ',
 'Unknown ',
 'Swindon,England ',
 'PDX',
 'LA - everywhere',
 'Justin and Ariana follow',
 'CPT & JHB, South Africa',
 'ATLANTA , GEORGIA ',
 'Swag Francisco',
 'Headed To The Top',
 'Asheboro, NC',
 'Trinity, Bailiwick of Jersey',
 'US',
 '#1 Vacation Destination,HAWAII',
 'NC',
 'Benedict College',
 'Instagram: trillrebel_',
 'Heathrow',
 'Minneapolis, MN',
 'North Hastings Ontario',
 '???????? ?????????.',
 '21.462446,-158.022017',
 'Saline, MI',
 'Buffalo NY',
 'ÌÏT: 40.562796,-75.488849',
 'Melbourne-ish',
 'Idaho',
 'Jerusalem!',
 'West Hollywood',
 'WestEnd, Puritan Ave ',
 'Fairfield, California',
 'mexico',
 'EspaÌ±a - Spain - Espagne',
 'Clayton, NC',
 'Federal Capital Territory',
 'Surulere Lagos,Home Of Swagg',
 "In @4SkinChan 's arms",
 'Lyallpur, Pakistan',
 'Michigan',
 'Sale, England',
 'Cochrane, Alberta, Canada',
 'Lisbon, Portugal',
 'Kashmir!',
 'UK,singer,songwriter,?2 act',
 'Macclesfield',
 'Adelaide, South Australia',
 'california mermaid ? ',
 'San Diego, CA',
 'The Citadel, Oldtown, Westeros',
 "FSC '19",
 'Toledo, OH',
 'Top secret bunker ',
 'Watch Those Videos -',
 'Dalston, Hackney',
 '#goingdownthetoilet Illinois',
 'Pune, mostly ',
 'Henderson, NV',
 'Hagerstown, MD',
 'Lima, Peru',
 'Kenton, Ohio',
 'Reddit ',
 'NBO',
 'The Hammock, FL, USA',
 '\x89Û¢901\x89Û¢',
 'Washington, DC & Charlotte, NC',
 'Numenor',
 'Minneapolis/St. Paul',
 '#EngleWood CHICAGO ',
 'todaysbigstock.com',
 'Nevada (wishing for Colorado)',
 'Haddonfield, NJ',
 'North Highlands, CA',
 'Vancouver, BC, Canada',
 'Las Vegas, Nevada',
 'London.',
 "Viterbo BFA Acting '18",
 '?? ?+254? ? \\??å¡_??å¡_???å¡_?/??',
 'WV, love the blue and gold',
 'Saskatchewan, Canada',
 'Where ever i please',
 'Georgia',
 'melbourne',
 'Marbella. Spain',
 'Dakar',
 'A Hoop Somewhere',
 'Charleston, WV',
 'Jackson',
 'USA/SO FLORIDA via BROOKLYN NY',
 'Los Angeles, London, Kent',
 'Washington state',
 'victoria mozÌ£o ',
 '772 Temperance Permenence',
 'Dalkeith, Scotland',
 'Las Vegas aka Hell',
 'Arundel ',
 'front row at a show',
 'china',
 'LFC x GSW',
 'Pontevedra, Galicia',
 'Alberta, VA',
 'Jamaica',
 'between ideas & 3-5pm AEST',
 '21, Porto',
 'The American Wasteland (MV)',
 'Madison, WI & St. Louis MO',
 'Detroit/Windsor',
 "@protectingtitan's side.",
 'Carol Stream, Illinois',
 'Nashville, Tn',
 'hertfordshire.',
 'Everywhere',
 '#ODU',
 'The Internetz',
 'Mumbai, India',
 'Derby',
 'Kalimantan Timur, Indonesia',
 'Leeds',
 ' Alberta',
 'At Da Laundry Mat Wit Nivea ',
 'Sydney Australia',
 'I-75 in Florida',
 'Hoxton, London',
 'Tractor land aka Bristol',
 'Montreal',
 'Puerto Rico',
 'Tafekop Ga-Matsepe',
 'Jubail IC, Saudi Arabia',
 'Football Field',
 'Bloomington, IN',
 'ANYWEHERE !!',
 'w. Nykae ',
 'Georgia, U.S.A.',
 'San Diego',
 "satan's colon",
 'Le Memenet',
 'Calgary, Canada',
 'Dublin, Ireland',
 'Karachi ',
 'Israel',
 'Rockford, IL',
 'CAMARILLO, CA',
 'Kenosha, WI 53143',
 '?????? ??? ?????? ????????',
 'Arizona',
 'Wahpeton, ND',
 'Queen Creek AZ',
 'Boston, MA',
 'Decatur, GA',
 '#Gladiator \x89Û¢860\x89Û¢757\x89Û¢',
 'Charlotte, N.C.',
 'Norf Carolina',
 'Screwston, TX',
 'New York, NY ',
 'Peterborough, On',
 'on the go',
 'In my studio',
 'Dallas Fort-Worth',
 'austin tx',
 'the local dump',
 'VÌ_sterÌ´s, Sweden',
 'Salt Lake City, UT',
 'TN',
 'Numa casa de old yellow bricks',
 'Suburban Detroit, Michigan',
 'Extraterrestrial Highway',
 'Malaysia',
 'Gold Coast',
 'ÌÏT: 40.707762,-74.014213',
 'Williamstown, VT',
 'Moscow',
 'NYC, New York',
 'Minority Privilege, USA',
 'in my head',
 'too far',
 'åÊ(?\x89Û¢`?\x89Û¢å«)??',
 'SF Bay Area, California / Greater Phoenix, AZ',
 'mnl',
 'Wilmington, DE',
 'Iowa, USA',
 'WAISTDEEP, TX',
 'Halfrica',
 'We are global!',
 'All around the world',
 'Honduras',
 '?Gangsta OC / MV RP; 18+.?',
 'portland, oregon',
 'Layang-Layang, Perak',
 'Lancaster, Pennsylvania, USA',
 'Alberta ',
 'sisterhood',
 'At your back',
 'Anchorage, AK',
 'Indianapolis, IN',
 'Manchester, England',
 'Winston Salem, North Carolina',
 'Central Florida',
 'Pioneer Village, KY',
 'buffalo / madrid / granada',
 'Nashville, TN',
 'Sacramento, CA',
 'Warri',
 'Newcastle upon Tyne',
 'Paranaque City',
 'Tucson, Az',
 'Georgia, USA',
 'Charleston S.C.',
 'Fort Walton Beach, Fl',
 'Hartford, Connecticut',
 'Michigan, USA',
 'In the Shadows',
 'Trinidad & Tobago',
 'Clean World',
 'Atlanta',
 'music.',
 'Bartholomew County, Indiana',
 'Gotham City,USA',
 'Italy',
 '253',
 'Stockholm, Sweden',
 'Banbridge',
 'Hailing from Dayton ',
 '???  Dreamz',
 'Waco TX',
 'West Coast, Cali USA',
 'Freeport IL. USA',
 'Wales',
 'Garrett',
 'Ljubljana, Slovenia',
 'Oshawa, Canada',
 'Tacoma,Washington',
 'Boston MA',
 'From a torn up town MANCHESTER',
 'London, Kent & SE England.',
 '[Gia.] | #KardashianEmpire',
 'Louisiana, USA',
 'Virginia',
 'ill yorker',
 'North Cack/919',
 'Minneapolis - St. Paul',
 'USA , AZ',
 'Walker County, Alabama',
 'Dappar (Mohali) Punjab',
 'Macon, GA',
 'rome',
 'Hope Road, Jamaica ',
 'not so cool KY',
 'trapped in America',
 'Chicago,Illinois',
 'Toronto, Worldwide ',
 'h+l',
 'Financial News and Views',
 'Atlantic Highlands, NJ',
 'iPhone: -27.499212,153.011072',
 'Vancouver, British Columbia',
 '#KaumElite;#F?VOR;#SMOFC',
 'Michigan ',
 'somewhere too cold for me',
 'Kabul, Tuebingen, Innsbruck',
 'South, USA',
 'Ashland, Oregon',
 'Dayton, Ohio',
 'Buffalo, NY',
 'Lancashire, United Kingdom',
 'Cassadaga Florida',
 'St. Catharines, Ontario',
 'Jupiter',
 'Linton Hall, VA',
 'Bulgaria',
 'Rhyme Or Reason?',
 'GLOBAL/WORLDWIDE',
 'PanamÌÁ ',
 'Massachusetts ',
 'Did anybody see me here ??',
 'Islamabad',
 'Jerseyville, IL',
 "Yuuko-san's shop",
 'The South & WestCoast ',
 'Horsemind, MI',
 'dmv ?? fashion school @ KSU. ',
 'Dhaka, Bangladsh',
 'Gwersyllt, Wales',
 'Dhaka',
 'Canterbury kent',
 'Riverview, FL ',
 'Brisbane.',
 'Fort Worth,  Texas ',
 'West Palm Beach, Florida',
 "???????, ??'??????",
 'SE London(heart is by the sea)',
 'Pedophile hunting ground',
 'In My Lab Creating ',
 'Tarragona',
 'Miami?Gainesville',
 'El Paso, TX',
 'Live On Webcam',
 'Alexandria, Egypt.',
 'Ocean City, NJ',
 'Shirley, NY',
 'Some pum pum',
 'Rochelle, GA',
 'Piedmont Triad, NC',
 'Dundee',
 'England & Wales Border, UK',
 'Ottawa,Ontario Canada',
 'Minneapolis,MN,US',
 'Kingston, Pennsylvania',
 'Hannover, Germany',
 'Coventry',
 'Top Secret',
 'Birmingham, England',
 'Hattiesburg, MS',
 'West Hollywood, CA',
 'Torry Alvarez love forever ? ?',
 'Carterville',
 'japon',
 'Sugar Land, TX',
 'Selangor',
 'milky way',
 'Australian Capital Territory',
 'Nebraska, Colorado & The GLOBE',
 'Chicago',
 'Hemel Hempstead',
 'they/her',
 'wherever-the-fuck washington',
 'Columbia Heights, MN',
 'ÌÏT: 6.4682,3.18287',
 '#expelcl*y',
 'Lehigh Valley, PA',
 'Tampa, FL',
 'MontrÌ©al, QuÌ©bec',
 '#keepthefaith J&J',
 'Fort Wayne, IN',
 'T-Ville',
 'heart of darkness, unholy ?',
 'Los Angeles ',
 'Heaven',
 'Oldenburg // London',
 'kissimmee,fl.',
 'Hertfordshire ',
 'lagos. Unilag',
 '65',
 'Based in CA - Serve Nationwide',
 'Freddy Fazbears pizzeria',
 'Oklahoma, USA',
 'Sioux Falls, SD',
 'Kernow',
 'Baker City Oregon',
 '92',
 "Dime's Palace",
 'Reddit',
 'Southern California',
 'South, England',
 'nap central',
 'lost in history',
 '?? Cloud Mafia ??',
 'prob turning up with sheen',
 'Vista, CA',
 'Essex, England',
 'dundalk ireland',
 'Medford, Oregon',
 'Kuala Lumpur, Malaysia',
 'Pune, Maharashtra',
 'bk. ',
 'Orm',
 'Lima-Peru',
 'The P (South Philly)',
 'Wakanda',
 'Team Slytherin',
 'Aracaju - Sergipe',
 '$ad $hawty',
 'Jersey',
 'Eau Claire, Wisconsin',
 'New Jersey',
 'Rochester Hills, MI',
 'St Charles, MD',
 'Youngstown, OH',
 'Colorado, USA',
 'india',
 'Geneva',
 'New York, USA',
 'Voorhees, NJ',
 'Rock Springs, WY',
 'Berlin - Germany',
 'Niagara Falls, Ontario',
 'plymouth',
 'St Paul, MN',
 "'SAN ANTONIOOOOO'",
 'BrasÌ_lia',
 'My mind is my world',
 ' New Delhi ',
 'ARBAILO',
 'Njoro, Kenya',
 'Philippines',
 'heccfidmss@gmail.com',
 'Baltimore',
 'Arizona ',
 'Melrose',
 'USA, Haiti, Nepal',
 'God.Family.Money',
 'EARTH ',
 'Bagalkote Karnataka ',
 'CT, USA',
 'D(M)V  ',
 'manchester, uk.',
 'Atlanta, Georgia',
 'Madison, Wisconsin, USA',
 'Somewhere Powerbraking A Chevy',
 'Port Jervis, NY',
 'Atlantic, IA',
 'Proudly Canadian!',
 'GO BLUE! HAIL YES!!',
 'oxford',
 'Miami, Florida',
 'gaffney, sc ',
 'MY RTs ARE NOT ENDORSEMENTS',
 'online ',
 'ITALY',
 ' Eugene, Oregon',
 'Desde Republica Argentina',
 '#WashingtonState #Seattle',
 'Perthshire ',
 'Finland',
 'Lubbock, Texas',
 'Hollywood',
 'Live mÌÁs',
 'Hughes, AR',
 'Newport, Wales, UK',
 'Dundee, UK',
 'Fashion Heaven. IG: TMId_',
 'New Jersey, usually',
 'ÌÏT: 36.142163,-95.979189',
 'AKRON OHIO USA',
 'West Vancouver, B.C.',
 'Reading UK',
 'Montana ',
 'Bishops Lydeard, England',
 'israel',
 'ON',
 'Rochester, NY',
 'Varies ',
 'A.A.S my Aztec Princess',
 'Patra-Greece.',
 '[@blackparavde is my frankie]',
 'Charlotte ',
 'WORLDWIDE-BOSTON',
 'å_: ?? ÌÑ ? : ?',
 'Arvada, CO',
 'Charlotte, North Carolina',
 'pissing off antis',
 'sÌ£o luis',
 'NYC / International',
 'Phoenix Az',
 'DC',
 ' snapchat // fvck_casper ',
 'In a crazy genius mind',
 'New Delhi, India',
 'Maryland, USA',
 'Illinois',
 'St Joseph de Beauce',
 'Laventillemoorings ',
 'toledo',
 'texas a&m university',
 'English Midlands',
 'Insula Barataria',
 'Kodiak, AK',
 'SF Bay Area',
 'Stratford, CT',
 'Manila',
 'Bow, NH',
 'california | oregon | peru |',
 'North Ferriby, East Yorkshire',
 'Hinterestland',
 'The Waystone Inn',
 'Very SW CA, USA....Draenor',
 'Nairobi',
 'VitÌ_ria (ES)',
 "Jakarta/Kuala Lumpur/S'pore",
 '3rd Eye Chakra',
 'Athens,Greece',
 'Tucson, AZ',
 'somewhere in Portugal',
 'Wynne, AR',
 '?semekeepschanging@soyeh?',
 'EveryWhere',
 'Kualar Lumpur, Malaysia',
 'Timaru District, New Zealand',
 'California',
 'San Francisco Bay Area',
 'In #Fairie, where else? ;-)',
 'IJmuiden, The Netherlands',
 'where the wild things are',
 'Coolidge, AZ',
 'Jamshedpur, Jharkhand',
 "St. Patrick's Purgatory",
 "'soooota",
 'Cape Town, Khayelitsha',
 'KADUNA, NIGERIA',
 'Alberta Pack',
 'North-East Region, Singapore',
 '#iminchina',
 "DRAW A CIRCLE THAT'S THE EARTH",
 'North Carolina',
 'Wrigley Field',
 'Quincy',
 'Thane',
 'Sicamous, British Columbia',
 'Va Beach, Virginia',
 'Valparaiso ',
 'Skyport de la Rosa',
 'Around the world',
 'Boston/Montreal ',
 'Augusta, Maine, 04330',
 'Right here',
 'Nice places ',
 'Knoxville, TN',
 'Western Washington',
 'Lahore',
 'cork',
 'å¡å¡Midwest \x89Û¢\x89Û¢',
 'Riverside, California.',
 'y(our) boyfriends legs ',
 'Johannesburg, South Africa',
 'Somerset, UK',
 'please H? ?:??',
 'Elkhart, IN',
 'Yogya Berhati Nyaman',
 'Milwaukee WI',
 'Bakersfield, CA',
 'Huntsville, AL',
 'Ireland',
 "Dil's Campsite",
 'Danbury, CT',
 '3?3?7?SLOPelousas??2?2?5?',
 'Huntington, WV',
 'somewhere USA ',
 'Hawaii, USA',
 "401 livin'",
 'The Pig Sty',
 '?205?478?',
 'Fort Walton Beach, FL',
 'lugo',
 'Riyadh',
 'San Diego California 92101',
 "Someday I'll live in England. ",
 'The Main ',
 'Buxton, Venice, and Nottingham',
 'Aberdeenshire',
 'Sunbury, Ohio',
 'Definitely NOT the stables',
 'Illumination ',
 'Dallas, TX',
 'Garden Grove',
 'instagram- Chloe_Bellx',
 'Rutherfordton, NC',
 'Waterfront',
 'Tipperary (Long Way) ',
 "United States where it's warm",
 'Eaubonne, 95, France',
 '#HAMont',
 'Korea',
 '302',
 'Cornwall',
 'Pittsburgh',
 'California or Colorado',
 'Richmond Heights, OH',
 'Greenpoint, Brooklyn',
 'Alphen aan den Rijn, Holland',
 'ca(NADA) ',
 'SWinfo@dot.state.al.us',
 'everywhere ',
 "R'lyeh, South Pacific",
 'Kansas City, Mo.',
 'the Refrigerator ',
 'Cascadia',
 'Hatteras, North Carolina',
 'Cloud 9',

222 unique `keyword` values (including `nan`) out of 7522 non-nan values.<br>
One-hot encode it.<br><br>
On the other hand, 3342 unique `location` values out of 5080 non-nan values.<br>
Seems correct location names and meaningless location names are mixed, but not sure how to separate them.<br>
For now, just make it a column of one-zero value.

In [9]:
# Replace 'nan' with 'none'
def replaceNAN_none(df, column='keyword'):
    col_edit = df[column].values.copy()
    col_edit[pd.isnull(col_edit)] = 'none'
    col_edit = col_edit.reshape(-1, 1)
    return col_edit

train_keyword_edit = replaceNAN_none(train)
test_keyword_edit = replaceNAN_none(test)

# Set up an one-hot encoder.
enc = OneHotEncoder(handle_unknown='ignore', dtype=np.int)  # Ignore categories not present in the training data.
enc.fit(train_keyword_edit)

def replaceCol_onehot(df, column='keyword', encoder=enc):
    col_edit = replaceNAN_none(df, column)
    cols_onehot = encoder.transform(col_edit).toarray()
    
    df_new = df.drop(column, axis=1)
    df_new = pd.concat([df_new, pd.DataFrame(cols_onehot)], axis=1)
    
    return df_new

    
train = replaceCol_onehot(train)
test = replaceCol_onehot(test)

In [10]:
len(set(train.columns.values))

226

In [11]:
# Replace 'location' column and drop the original with 'id' column.
train['location_isnull'] = pd.isnull(train.location).astype('int')
test['location_isnull'] = pd.isnull(test.location).astype('int')
train.drop(['id', 'location'], axis=1, inplace=True)
test.drop(['id', 'location'], axis=1, inplace=True)

In [12]:
train.text

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
5       #RockyFire Update => California Hwy. 20 closed...
6       #flood #disaster Heavy rain causes flash flood...
7       I'm on top of the hill and I can see a fire in...
8       There's an emergency evacuation happening now ...
9       I'm afraid that the tornado is coming to our a...
10            Three people died from the heat wave so far
11      Haha South Tampa is getting flooded hah- WAIT ...
12      #raining #flooding #Florida #TampaBay #Tampa 1...
13                #Flood in Bago Myanmar #We arrived Bago
14      Damage to school bus on 80 in multi car crash ...
15                                         What's up man?
16                                          I love fruits
17                                       Summer is lovely
18                                      My car is so fast
19                           What a goooooooaaaaaal!!!!!!
20                                 this is ridiculous....
21                                      London is cool ;)
22                                            Love skiing
23                                  What a wonderful day!
24                                               LOOOOOOL
25                         No way...I can't eat that shit
26                                  Was in NYC last week!
27                                     Love my girlfriend
28                                              Cooool :)
29                                     Do you like pasta?
                              ...
7583    Pic of 16yr old PKK suicide bomber who detonat...
7584    These boxes are ready to explode! Exploding Ki...
7585    Calgary Police Flood Road Closures in Calgary....
7586    #Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...
7587                                   Sirens everywhere!
7588    BREAKING: #ISIS claims responsibility for mosq...
7589                                       Omg earthquake
7590    SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...
7591    Heat wave warning aa? Ayyo dei. Just when I pl...
7592    An IS group suicide bomber detonated an explos...
7593    I just heard a really loud bang and everyone i...
7594    A gas thing just exploded and I heard screams ...
7595    NWS: Flash Flood Warning Continued for Shelby ...
7596    RT @LivingSafely: #NWS issues Severe #Thunders...
7597    #??? #?? #??? #??? MH370: Aircraft debris foun...
7598    Father-of-three Lost Control of Car After Over...
7599    1.3 #Earthquake in 9Km Ssw Of Anza California ...
7600    Evacuation order lifted for town of Roosevelt:...
7601    #breaking #LA Refugio oil spill may have been ...
7602    a siren just went off and it wasn't the Forney...
7603    Officials say a quarantine is in place at an A...
7604    #WorldNews Fallen powerlines on G:link tram: U...
7605    on the flip side I'm at Walmart and there is a...
7606    Suicide bomber kills 15 in Saudi security site...
7607    #stormchase Violent Record Breaking EF-5 El Re...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [13]:
# Make bag of words from tweet texts
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import *

import re
from bs4 import BeautifulSoup

def tweet_to_words(text):
    nltk.download("stopwords", quiet=True)
    stemmer = PorterStemmer()
    
    text = BeautifulSoup(text, "html.parser").get_text() # Remove HTML tags.
    text = re.sub(r"[,\.]", "", text)  # Remove ',' and '.'.
    text = re.sub(r"(\w?)\d+(\w?)", "\\1 thisissomenumber \\2", text)  # Replace all number words with a token text.
    text = re.sub(r"\d+", "thisissomenumber", text)  # Replace all number words with a token text.
    text = re.sub(r"[^a-zA-Z0-9']", " ", text.lower()) # Convert to lower case
    words = text.split() # Split string into words
    words = [w for w in words if w not in stopwords.words("english")] # Remove stopwords
    words = [PorterStemmer().stem(w) for w in words] # stem
    words = ' '.join(words)  # Make it back into a sentence
    
    return words

In [14]:
text='ss12'
re.sub(r"(\w?)\d+(\w?)", "\\1 thisissomenumber \\2", text)

'ss thisissomenumber '

In [15]:
tweet_to_words(train.text[0])

'deed reason earthquak may allah forgiv us'

In [16]:
words_train = train.text.apply(tweet_to_words)
words_test = test.text.apply(tweet_to_words)

In [17]:
words_train[0:10]

0            deed reason earthquak may allah forgiv us
1                 forest fire near la rong sask canada
2    resid ask 'shelter place' notifi offic evacu s...
3    thisissomenumb thisissomenumb peopl receiv wil...
4    got sent photo rubi alaska smoke wildfir pour ...
5    rockyfir updat california hwi thisissomenumb t...
6    flood disast heavi rain caus flash flood stree...
7                           i'm top hill see fire wood
8        there' emerg evacu happen build across street
9                         i'm afraid tornado come area
Name: text, dtype: object

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.externals import joblib
cache_dir = 'cache/'
cache_file = 'bagOfWords.pkl'

def extract_BoW_features(
    words_train, words_test, 
    vocabulary_size=5000,
    cache_dir=cache_dir, cache_file=cache_file
):
    """Extract Bag-of-Words for a given set of documents, already preprocessed into words."""
    
    # If cache_file is not None, try to read from it first
    cache_data = None
    if cache_file is not None:
        try:
            with open(os.path.join(cache_dir, cache_file), "rb") as f:
                cache_data = joblib.load(f)
            print("Read features from cache file:", cache_file)
        except:
            pass  # unable to read from cache, but that's okay
    
    # If cache is missing, then do the heavy lifting
    if cache_data is None:
        print("Make bag of words from scratch.")
        # Fit a vectorizer to training documents and use it to transform them
        # NOTE: Training documents have already been preprocessed and tokenized into words;
        #       pass in dummy functions to skip those steps, e.g. preprocessor=lambda x: x
        vectorizer = CountVectorizer(max_features=vocabulary_size)
        features_train = vectorizer.fit_transform(words_train).toarray()

        # Apply the same vectorizer to transform the test documents (ignore unknown words)
        features_test = vectorizer.transform(words_test).toarray()
        
        # NOTE: Remember to convert the features using .toarray() for a compact representation
        
        # Write to cache file for future runs (store vocabulary as well)
        if cache_file is not None:
            vocabulary = vectorizer.vocabulary_
            cache_data = dict(features_train=features_train, features_test=features_test,
                             vocabulary=vocabulary)
            with open(os.path.join(cache_dir, cache_file), "wb") as f:
                joblib.dump(cache_data, f)
            print("Wrote features to cache file:", cache_file)
    else:
        # Unpack data loaded from cache file
        print("Load bag of words from cache.")
        features_train, features_test, vocabulary = (cache_data['features_train'],
                cache_data['features_test'], cache_data['vocabulary'])
    
    # Return both the extracted features as well as the vocabulary
    return features_train, features_test, vocabulary

In [19]:
bow_train, bow_test, vocabulary = extract_BoW_features(words_train, words_test)

Read features from cache file: bagOfWords.pkl
Load bag of words from cache.

In [20]:
train = pd.concat([train, pd.DataFrame(bow_train)], axis=1)
test = pd.concat([test, pd.DataFrame(bow_test)], axis=1)
train.drop('text', axis=1, inplace=True)
test.drop('text', axis=1, inplace=True)
print(train.head())
print(test.head())

   target  0  1  2  3  4  5  6  7  8  ...  4990  4991  4992  4993  4994  4995  \
0       1  0  0  0  0  0  0  0  0  0  ...     0     0     0     0     0     0
1       1  0  0  0  0  0  0  0  0  0  ...     0     0     0     0     0     0
2       1  0  0  0  0  0  0  0  0  0  ...     0     0     0     0     0     0
3       1  0  0  0  0  0  0  0  0  0  ...     0     0     0     0     0     0
4       1  0  0  0  0  0  0  0  0  0  ...     0     0     0     0     0     0

   4996  4997  4998  4999
0     0     0     0     0
1     0     0     0     0
2     0     0     0     0
3     0     0     0     0
4     0     0     0     0

[5 rows x 5224 columns]
   0     1     2     3     4     5     6     7     8     9     ...  4990  \
0     0     0     0     0     0     0     0     0     0     0  ...     0
1     0     0     0     0     0     0     0     0     0     0  ...     0
2     0     0     0     0     0     0     0     0     0     0  ...     0
3     0     0     0     0     0     0     0     0     0     0  ...     0
4     0     0     0     0     0     0     0     0     0     0  ...     0

   4991  4992  4993  4994  4995  4996  4997  4998  4999
0     0     0     0     0     0     0     0     0     0
1     0     0     0     0     0     0     0     0     0
2     0     0     0     0     0     0     0     0     0
3     0     0     0     0     0     0     0     0     0
4     0     0     0     0     0     0     0     0     0

[5 rows x 5223 columns]

In [21]:
# Make the target values the first column.
train_y = train['target']
train_x = train.drop('target', axis=1)
train = pd.concat([train_y, train_x], axis=1)
train.head()

,target,0,1,2,3,4,5,6,7,8,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
train.to_csv("processed_data/train_processed.csv", header=False, index=False)
test.to_csv("processed_data/test_processed.csv", header=False, index=False)

In [23]:
print(
    "After preprocessing\n\
    train shape: {}\n\
    test shape: {}".format(
        train.shape,
        test.shape
    )
)

After preprocessing
    train shape: (7613, 5224)
    test shape: (3263, 5223)